@inherits LayoutComponentBase
@inject UserServices UserServices


<div class="page">
    <div class="sidebar">
        <CascadingValue Value="CascadedUser">
            <NavMenu />
        </CascadingValue>
        
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="content px-4">
                    <CascadingValue Value="CascadedUser">
                        @Body
                    </CascadingValue>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</div>

@code{ 
    User CascadedUser;

    protected override void OnInitialized()
    {
        CascadedUser = UserServices.GetCurrentEmployee();
        var works = CascadedUser?.Name.Split(" ");

        //if (works != null)
        //{
        //    if (works.Length > 1)
        //    {
        //        _userName = works[works.Length - 2] + " " + works[works.Length - 1];
        //    }
        //    else
        //    {
        //        _userName = works[works.Length - 1];
        //    }
        //}
    }
}